# Ignore all files in the output directory
output/
test_output/
*.h5
/benchmark_results
example_data/sub-PNC025_ses-01_space-dwi_desc-b0.nii.gz
example_data/sub-PNC025_ses-01_space-nativepro_T1w.nii.gz
/build
/LAMAReg.egg-info
/LAMAReg.egg-info
LAMAReg.egg-info/SOURCES.txt
LAMAReg.egg-info/PKG-INFO
/example_data
